body {
  font-family: "Sono", sans-serif;
  background-color: rgb(207, 255, 214);
}

/* Page structure - this will basically center everything to the center of the page*/
.wrapper {
  display: grid;
  place-items: center;
  margin: 0 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Very light scaling for our logo */
.logo {
  max-width: 420px;
  max-height: 300px;
}

/* Main text area */
.main {
  margin: 0;
  max-width: 600px;
}

h2, h1 {
  color: blue
}

ul {
  border: solid;
}

li {
  margin: 3px;
}